# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.idea/
.hg/
.hgignore
.research/
.settings/
.kdev4/

logs/
bin/
obj/
out/
gen/
Debug/
Release/

*~
*.*~
*.kdev4
*.suo
*.sdf
*.pyc
*.opensdf
*.user
*.ipr
*.iws
*.iml
*.so
.kate*
.project
.kdev_include_paths

target/
build/
ipch/
x64/
x86/
*.batch
*.class
*.opensdf
*.vcxproj.filters
*.vcxproj.user
*.sdf
*.suo
*.o
*.swp
*.swo
*.gch
